# ==========================================
# ESP-IDF & C++ Build Outputs
# ==========================================
build/
*.elf
*.bin
*.map

# ==========================================
# IDE & Environment
# ==========================================
.vscode/
.idea/

# ==========================================
# Executables & Dynamic Libraries
# ==========================================
*.exe
*.dll
*.so
*.dylib

# ==========================================
# Python Cache
# ==========================================
__pycache__/
*.pyc
*.pyo

# ==========================================
# Local Development & Temporary Files
# ==========================================
.local/
temp/
Backup*/
*.log